.game{
    width: 255PX;
    text-align: center;
    font-family: sans-serif;
    column-rule: center;
    margin: auto;
    font-weight: 500;


}
.csss{
    background: #f25;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    color: #fa0;
}
.sqere{
    width: 80px;
    height: 80px;
    background: #f25;
    float: left;
    margin: 2px;
    font-size: 50px;
    color: white;
}
.sqere:hover{
    background: black;
    cursor: pointer;
}